
/* toggle */
  #hamburger span {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

#hamburger.active span:nth-child(1) {
    transform: rotate(50deg) translate(5px, 5px);
}

#hamburger.active span:nth-child(2) {
    scale: 0 ;
}

#hamburger.active span:nth-child(3) {
    transform: rotate(-50deg) translate(10px, -10px);
}

/* header */
#header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    
    
}





